
@{
    ViewBag.Title = "Cadastro";
}

<div class="container container-fluid">

    <form method="post" action="/estado/store">

        <h2>Cadastro de Estados</h2>

        <a href="/estado/index" class="btn btn-danger">Lista de Estados</a>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Nome</label>
                    <input type="text" name="nome" class="form-control" id="campo-nome" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-sigla">Sigla</label>
                    <input type="text" name="sigla" class="form-control" id="campo-sigla" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </form>

</div>