
@{
    ViewBag.Title = "Cadastro";
}

<div class="container container-fluid">


    <div class="row">
        <div class="col-12">
            <div class="bg-pink navbar-nav rounded-bottom">
                <h3 class="align-baseline mb-3 mt-2 p-3 text-info">Cadastro de Estado</h3>
            </div>
        </div>
    </div>

    <form method="post" action="/estado/store">


        <a href="/estado/index" class="btn btn-danger">Lista de Estados</a>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Nome</label>
                    <input type="text" name="nome" class="form-control" id="campo-nome" required=""/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-sigla">Sigla</label>
                    <input type="text" name="sigla" class="form-control" id="campo-sigla"required="" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </form>

</div>