
@{
    ViewBag.Title = "Editar";
}

<div class="container container-fluid">


    <div class="row">
        <div class="col-12">
            <div class="bg-light navbar-nav rounded-bottom">
                <h3 class="align-baseline mb-3 mt-2 p-3 text-info">Editando estado</h3>
            </div>
        </div>
    </div>

    <form method="post" action="/estado/update">


        <a href="/estado/index" class="btn btn-danger">Lista de Estados</a>

        <input type="hidden" name="id" value="@ViewBag.estado.Id" />

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-nome">Nome</label>
                    <input type="text" name="nome" class="form-control" id="campo-nome" value="@ViewBag.estado.Nome" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="campo-sigla">Sigla</label>
                    <input type="text" name="sigla" class="form-control" id="campo-sigla" value="@ViewBag.estado.Sigla" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>

    </form>

</div>